$background_color = #fff
$light = #329696
$text_color = #003c5a
$text_hover_color = #fff
$link_color = #329696
$border_color = #ebebeb
$menu_select_color = #003c5a
$menu_select_hover_color = #329696
$menu_hover_color = #ebebeb