$background_color = #fff
$text_color = #003c5a
$text_grey_color = #6b6b6b
$text_hover_color = #fff
$link_color = #329696
$border_color = #ebebeb
$element_border_color = #cbcbcb
$menu_select_color = #003c5a
$menu_select_hover_color = #329696
$menu_hover_color = #f4f4f4
$quantity_color = #329696
$quantity_free_color = #cbcbcb