//main colors
$background_color = #fff
$lines_color = #ebebeb
$text_color = #003c5a
$text_grey_color = #6b6b6b
$link_color = #329696
$button_color = #329696
$button_hover_color = #28aaaa
$button_text_color = #fff

//menu colors
$menu_button_color = #fff
$menu_button_text_color = #006496
$menu_button_hover_color = #f4f4f4
$menu_button_select_color = #006496
$menu_button_select_text_color = #fff
$menu_button_select_hover_color = #0078b4

//filer colors
$filer_block_color  = #fff
$filer_block_hover_color  = #f4f4f4
$filer_block_value_color = #329696

//quantity colors
$quantity_circle_color = #329696
$quantity_circle_free_color = #cbcbcb




$element_border_color = #003c5a