@import "colors.styl"

body {
    margin 0
    padding 0
    color $text_color
    font-family: 'Comfortaa', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size 14px
}
a,
a:visited,
a:active {
    text-decoration none
    color $text_color
}
.link {
    color $link_color
}
.link:hover {
    text-decoration underline
}