body {
  margin: 0;
  padding: 0;
  color: #003c5a;
  font-family: 'Comfortaa', cursive;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: #329696;
}
.menu,
.menu:visited,
.menu:active {
  color: #006496;
}
.menu_select,
.menu_select:visited,
.menu_select:active {
  color: #fff;
}
.link:hover {
  text-decoration: underline;
}
.separator {
  background-color: #ebebeb;
  width: 100%;
  height: 1px;
  margin: 30px 0;
  float: left;
}
