.top {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  float: left;
}
.top-logo {
  width: 334px;
  height: 60px;
  margin: 30px 50px;
  float: left;
}
.top-logo__image {
  background-image: url("/img/logo.png");
  width: 334px;
  height: 60px;
}
.top-menu {
  width: 100%;
  margin-bottom: 10px;
  float: left;
}
.top-menu__button,
.top-menu__button_select {
  background-color: #fff;
  padding: 5px 15px;
  margin-left: 30px;
  border-radius: 5px;
  color: #006496;
  transition: 0.2s;
  float: left;
}
.top-menu__button:hover {
  background-color: #f4f4f4;
}
.top-menu__button_select {
  background-color: #006496;
  color: #006496;
}
.top-menu__button_select:hover {
  background-color: #0078b4;
  color: #fff;
}
